/// Slightly lighten/darken a color

@function tint-color($color, $percentage) {
    @return mix(white, lighten($color, calc($percentage / 3)), $percentage);
}

@function shade-color($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// @font-face {
//     font-family: "Inter";
//     src: url("https://digitalservice.ura.gov.sg/uds/fonts/Inter/Inter-Regular.ttf") format('truetype');
// }

// URA Color palatte

$blue: #006ae4 !default; //primary //link
$indigo: #4f46e5 !default; //secondary 
$purple: #9333ea !default; 
$pink: #db2777 !default; 
$red: #dc2837 !default; 
$orange: #ea580c !default; 
$yellow: #ca8a04 !default; 
$green: #15803d !default;  
$teal: #0d9488 !default; 
$cyan: #0891b2 !default; 
$gray: #344054 !default; 
$white: #FFFFFF !default;
$black: #000000 !default;

//Primary
$blue-100: tint-color($blue, 90%) !default;
$blue-200: tint-color($blue, 80%) !default;
$blue-300: tint-color($blue, 60%) !default;
$blue-400: tint-color($blue, 40%) !default;
$blue-500: tint-color($blue, 20%) !default;
$blue-600: $blue !default;
$blue-700: shade-color($blue, 20%) !default;
$blue-800: shade-color($blue, 40%) !default;
$blue-900: shade-color($blue, 60%) !default;

$indigo-100: tint-color($indigo, 90%) !default;
$indigo-200: tint-color($indigo, 80%) !default;
$indigo-300: tint-color($indigo, 60%) !default;
$indigo-400: tint-color($indigo, 40%) !default;
$indigo-500: tint-color($indigo, 20%) !default;
$indigo-600: $indigo !default;
$indigo-700: shade-color($indigo, 20%) !default;
$indigo-800: shade-color($indigo, 40%) !default;
$indigo-900: shade-color($indigo, 60%) !default;

$purple-100: tint-color($purple, 90%) !default;
$purple-200: tint-color($purple, 80%) !default;
$purple-300: tint-color($purple, 60%) !default;
$purple-400: tint-color($purple, 40%) !default;
$purple-500: tint-color($purple, 20%) !default;
$purple-600: $purple !default;
$purple-700: shade-color($purple, 20%) !default;
$purple-800: shade-color($purple, 40%) !default;
$purple-900: shade-color($purple, 60%) !default;

$pink-100: tint-color($pink, 90%) !default;
$pink-200: tint-color($pink, 80%) !default;
$pink-300: tint-color($pink, 60%) !default;
$pink-400: tint-color($pink, 40%) !default;
$pink-500: tint-color($pink, 20%) !default;
$pink-600: $pink !default;
$pink-700: shade-color($pink, 20%) !default;
$pink-800: shade-color($pink, 40%) !default;
$pink-900: shade-color($pink, 60%) !default;

$red-100: tint-color($red, 90%) !default;
$red-200: tint-color($red, 80%) !default;
$red-300: tint-color($red, 60%) !default;
$red-400: tint-color($red, 40%) !default;
$red-500: tint-color($red, 20%) !default;
$red-600: $red !default;
$red-700: shade-color($red, 20%) !default;
$red-800: shade-color($red, 40%) !default;
$red-900: shade-color($red, 60%) !default;

$orange-100: tint-color($orange, 90%) !default;
$orange-200: tint-color($orange, 80%) !default;
$orange-300: tint-color($orange, 60%) !default;
$orange-400: tint-color($orange, 40%) !default;
$orange-500: tint-color($orange, 20%) !default;
$orange-600: $orange !default;
$orange-700: shade-color($orange, 20%) !default;
$orange-800: shade-color($orange, 40%) !default;
$orange-900: shade-color($orange, 60%) !default;

$yellow-100: tint-color($yellow, 90%) !default;
$yellow-200: tint-color($yellow, 80%) !default;
$yellow-300: tint-color($yellow, 60%) !default;
$yellow-400: tint-color($yellow, 40%) !default;
$yellow-500: tint-color($yellow, 20%) !default;
$yellow-600: $yellow !default;
$yellow-700: shade-color($yellow, 20%) !default;
$yellow-800: shade-color($yellow, 40%) !default;
$yellow-900: shade-color($yellow, 60%) !default;

$green-100: tint-color($green, 90%) !default;
$green-200: tint-color($green, 80%) !default;
$green-300: tint-color($green, 60%) !default;
$green-400: tint-color($green, 40%) !default;
$green-500: tint-color($green, 20%) !default;
$green-600: $green !default;
$green-700: shade-color($green, 20%) !default;
$green-800: shade-color($green, 40%) !default;
$green-900: shade-color($green, 60%) !default;

$teal-100: tint-color($teal, 90%) !default;
$teal-200: tint-color($teal, 80%) !default;
$teal-300: tint-color($teal, 60%) !default;
$teal-400: tint-color($teal, 40%) !default;
$teal-500: tint-color($teal, 20%) !default;
$teal-600: $teal !default;
$teal-700: shade-color($teal, 20%) !default;
$teal-800: shade-color($teal, 40%) !default;
$teal-900: shade-color($teal, 60%) !default;

$cyan-100: tint-color($cyan, 90%) !default;
$cyan-200: tint-color($cyan, 80%) !default;
$cyan-300: tint-color($cyan, 60%) !default;
$cyan-400: tint-color($cyan, 40%) !default;
$cyan-500: tint-color($cyan, 20%) !default;
$cyan-600: $cyan !default;
$cyan-700: shade-color($cyan, 20%) !default;
$cyan-800: shade-color($cyan, 40%) !default;
$cyan-900: shade-color($cyan, 60%) !default;

$gray-100: tint-color($gray, 90%) !default;
$gray-200: tint-color($gray, 80%) !default;
$gray-300: tint-color($gray, 60%) !default;
$gray-400: tint-color($gray, 40%) !default;
$gray-500: tint-color($gray, 20%) !default;
$gray-600: $gray !default;
$gray-700: shade-color($gray, 20%) !default;
$gray-800: shade-color($gray, 40%) !default;
$gray-900: shade-color($gray, 60%) !default;


// Default variable overrides
$primary: $blue !default;
$secondary: $indigo !default;
$info: $blue !default;
$text-muted: $gray-500 !default;
$body-color: $gray-600;
$link-color: $blue !default;
$ura-accent-color: #dc2837 !default;
$component-active-bg: $blue !default;

$footer-top-bg-color: $gray-100;
$footer-bottom-bg-color: $gray-100;
$footer-link-color: $body-color;
$footer-link-hover-color: $ura-accent-color;
$footer-color: $body-color;
$footer-description-color: $body-color;

$primarys: ("primary-100": $blue-100,
  "primary-200": $blue-200,
  "primary-300": $blue-300,
  "primary-400": $blue-400,
  "primary-500": $blue-500,
  "primary-600": $blue-600,
  "primary-700": $blue-700,
  "primary-800": $blue-800,
  "primary-900": $blue-900) !default;

$secondarys: ("secondary-100": $purple-100,
  "secondary-200": $purple-200,
  "secondary-300": $purple-300,
  "secondary-400": $purple-400,
  "secondary-500": $purple-500,
  "secondary-600": $purple-600,
  "secondary-700": $purple-700,
  "secondary-800": $purple-800,
  "secondary-900": $purple-900) !default;

  $infos: ("info-100": $blue-100,
  "info-200": $blue-200,
  "info-300": $blue-300,
  "info-400": $blue-400,
  "info-500": $blue-500,
  "info-600": $blue-600,
  "info-700": $blue-700,
  "info-800": $blue-800,
  "info-900": $blue-900) !default;

  $border-radius: .375rem !default;
  $border-radius-sm: .25rem !default;
  $border-radius-lg:  .5rem !default;

$table-border-color: $gray-200 !default;

//Material Icons
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
//Pagination
$pagination-disabled-color: $gray-400 !default;

// Card
$card-border-color: $gray-200 !default;
$card-border-radius: $border-radius-lg !default;
$box-shadow: 0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;


.sgds.card[variant*=card-action] {
    cursor: pointer;
    box-shadow: $box-shadow-sm !important;
}

.sgds.card[variant*=card-action].is-active, .sgds.card[variant*=card-action]:hover {
    box-shadow: $box-shadow, 0 0 0 2px #006ae4 !important;
}

.sgds.card[disabled], .sgds.card[variant*=card-action][disabled]{
    background-color: $gray-100;
    box-shadow: none !important;
    cursor: not-allowed;
    opacity: 0.8;
}

.sgds.card[variant*=card-action] .card-body {
gap: 0 !important;
}

// Accordion

$accordion-button-active-color: $blue-600 !default;


//a link style
a.uds-link {
    color: $blue;
    box-shadow: 0 1px 0 #d4d5d9;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-decoration: none !important;
}

a.uds-link:hover {
    box-shadow: 0 1px 0 $blue;
}

// Web Accessibility or light badges
.sgds.badge-light.bg-success {
    color: $green-700 !important;
    background: $green-200 !important;
}

.sgds.badge-light.bg-warning {
    color: $yellow-800 !important;
    background: $yellow-200 !important;
}

.sgds.badge-light.bg-danger {
    color: $red-700 !important;
    background: $red-200 !important;
}

.sgds.badge-light.bg-secondary {
    color: $purple-700 !important;
    background: $purple-200 !important;
}

.sgds.badge-light.bg-light {
    color: $gray-700 !important;
    background: $gray-200 !important;
}

.sgds.badge-light.bg-primary, .sgds.badge-light.bg-info {
    color: $blue-700 !important;
    background: $blue-200 !important;
}


// Singpass Buttons

.singpass:hover {
    filter: brightness(95%);
}

.singpass[disabled] {
    filter: grayscale(100%);
    opacity: 0.26 !important;
}

.btn.sgds.singpass {
    background: no-repeat;
    background: url(https://digitalservice.ura.gov.sg/uds/img/assets/singpass-login/singpass-button-inline.svg) no-repeat;
    height: 45px;
    width: 216px;
    border: transparent;
    border-radius: 8px !important;
}

@media screen and (max-width: 768px){
    .btn.sgds.singpass {
        background: no-repeat;
        background: url(https://digitalservice.ura.gov.sg/uds/img/assets/singpass-login/singpass-button-stacked.svg) no-repeat;
        height: 70px;
        width: 130px;
        border: transparent;
        border-radius: 8px !important;
    }
}

.btn.sgds.singpass.retrieve-myinfo {
    background: no-repeat;
    background: url(https://digitalservice.ura.gov.sg/uds/img/assets/retrieve-with-singpass/myinfo-button-stacked.svg) no-repeat;
    height: 60px;
    width: 168px;
    border: transparent;
    border-radius: 8px !important;
}

.btn.sgds.singpass.retrieve-myinfo-clear {
    background: no-repeat;
    background: url(https://digitalservice.ura.gov.sg/uds/img/assets/retrieve-with-singpass/btn-clear.svg) no-repeat;
    height: 60px;
    width: 65px;
    border: transparent;
    border-radius: 8px !important;
}

.btn.sgds.singpass.retrieve-entdata {
    background: no-repeat;
    background: url(https://digitalservice.ura.gov.sg/uds/img/assets/enterprise/retrieve-enterprise-data.svg) no-repeat;
    height: 48px;
    width: 236px;
    border: transparent;
    border-radius: 8px !important;
}

.btn.sgds.singpass.retrieve-entdata-clear {
    background: no-repeat;
    background: url(https://digitalservice.ura.gov.sg/uds/img/assets/enterprise/btn-clear.svg) no-repeat;
    height: 48px;
    width: 65px;
    border: transparent;
    border-radius: 8px !important;
}

#wave.bg-light {
    fill: $gray-100;
}


// Main navigation style override

.sgds.navbar .nav-item a.nav-link.active, .sgds.navbar .nav-item a.nav-link:hover {
    color: $ura-accent-color !important;
    border-color: $ura-accent-color !important;
}

.sgds.navbar .nav-item a.nav-link.dropdown-toggle.show {
    color: $ura-accent-color !important;
    border-bottom: 0.125rem solid $ura-accent-color !important;
}

@media (max-width: 991.98px){
.sgds.navbar {
    overflow-x: unset !important;
    z-index: 1030;
}
}

// Side Nav sticky top

.sidenav.sticky-top {
    max-height: 90vh;
    overflow-y: auto;
    height: fit-content;
}

// Import all of sgds
@import '~@govtechsg/sgds/sass/sgds.scss';

// For color display . to be commented and will not be compiled

.blue100 {
    background-color: $blue-100;
}
.blue200 {
    background-color: $blue-200;
}
.blue300 {
    background-color: $blue-300;
}
.blue400 {
    background-color: $blue-400;
}
.blue500 {
    background-color: $blue-500;
}
.blue600 {
    background-color: $blue-600;
}
.blue700 {
    background-color: $blue-700;
}
.blue800 {
    background-color: $blue-800;
}
.blue900 {
    background-color: $blue-900;
}

// sidenav
a[data-value="no-icon"] {
    padding: 0 0 0 2.6rem !important;
  }

// .sgds.sidenav .sidenav-item .collapse a.nav-link + a.nav-link,
// .sgds.sidenav .sidenav-item .collapse.show a.nav-link + a.nav-link,
// .sgds.sidenav .sidenav-item .collapsing a.nav-link + a.nav-link {
//   margin-top: 0rem!important;
// }

// div#collapseExampleD, div#collapseExampleE, div#collapseExampleF  {
//     margin-top: 0rem;
// }

